[submodule "ui"]
	path = ui
	url = https://github.com/DarkHonin/AirBnb.git
[submodule "framework"]
	path = framework
	url = https://github.com/DarkHonin/AirBnb.git
[submodule "database"]
	path = database
	url = https://github.com/DarkHonin/AirBnb.git
