<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bitwasp AirBnb</title>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
</head>
<body>
    {{{body}}}
</body>
</html>