<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bitwasp AirBnb</title>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css">
    <script src="/static/js/data_api.js"></script>
</head>
<body>
    <h1>BitwaspAirBnb:{{subheading}}</h1>
    {{{body}}}
</body>
</html>