<script>
function logout(event){
  event.preventDefault()
}
</script>
<div class="float center">
  <div class="contain">
    <h2>Welcome to Bitwasp_AirBnB_</h2>
    <a href="/u/logout" data-event event-click='logout'>Logout</a>
  </div>
</div>