<script>
function logout(event){
  fetch("/u/logout").then(()=>{window.location.reload()})
}
</script>
<section>
  <aside>
    <nav>
      <nav>
        <h3>Accomidation</h3>
        <a href="#">Browse</a> 
        <a href="#">Close to me</a> 
      </nav>
      {{#if user.accountType}}
        <nav>
        <h3>My properties</h3>
        <a href="#">Create new</a> 
        <a href="#">Manage</a> 
        <a href="#">Bookings</a>
      </nav>
      {{/if}}
      <nav>
        <h3>Account</h3>
        <a href="#">My profile</a> 
        <a href="#">Settings</a> 
        <a href="/u/logout" data-event event-click='logout'>Logout</a>
      </nav>
    </nav>
  </aside>
  <article>

  </article>
</section>