<meta charset="UTF-8">
<title>AIR BNB</title>

<style>
    body    { padding-top:0px; }

   .jumbotron {
     padding: 0px;
     display: flex;
     align-items: center;
     background-image: url('https://sm.pcmag.com/t/pcmag_au/news/s/split-your/split-your-airbnb-bill-with-up-to-16-people_5vxp.640.jpg');
     background-size: cover;
     color: #ffffff;
     height: 600px;
     text-shadow: 0.25px 0.25px 0.25px #000000;
   }

</style>
