html{
    background-image: URL("../img/Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    min-height: 100vh;
    background-color: white;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

.float{
    display: flex;
}

.float.center{
    align-content: center;
    justify-content: center;
}

.contain{
    max-width: fit-content
}

.slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slider>label{
    margin: 1em;
}

.slider>.display{
    display: inline-block;
    width: 50px;
    height: 10px;
    background-color: yellow;
    border-radius: 1em;
    border: 1px solid black;
    position: relative;
    transition: background-color 0.2s;
}

.slider>.display:after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    border: 1px solid black;
    margin: auto;
    height: 200%;
    display: block;
    width: 20px;
    border-radius: 100%;
    transition: left 0.2s, right 0.2s;
}
.slider[value='0']>.display{background-color: red;}
.slider[value='1']>.display{background-color: green;}
.slider[value='0']>.display:after{right: 100%;}
.slider[value='1']>.display:after{left: calc(100% - 20px);}