body{
    background-image: URL("../img/Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.float{
    display: flex;
}

.float.center{
    align-content: center;
    justify-content: center;
}

.contain{
    max-width: fit-content
}